<h1>Japanese_sake_meguriとは</h1>
あなたは旅行に行った時、地酒にこだわっている居酒屋に行った時
なんのお酒が美味しかったか、どんな味がしたか、自分好みだったか
覚えていますか？

美味しかったけど、何種類も飲んだので覚えていない、結局どのお酒がどんな味だったのか覚えていない
そんな時ありますよね？

気に入ったお酒は、このサイトでレビューすることで、このサイトを見れば、
自分が何のお酒を飲んで、どういう感想を持ったのかわかります！