<div class="about-section">
    <h1>Japanese_sake_meguriとは</h1>
    <div class="about-content">
      <p>
        あなたは旅行に行った時、地酒にこだわっている居酒屋に行った時、
        なんのお酒が美味しかったか、どんな味がしたか、自分好みだったか
        覚えていますか？
      </p>
      <p>
        美味しかったけど、何種類も飲んだので覚えていない、結局どのお酒がどんな味だったのか覚えていない
        そんな時ありますよね？
      </p>
      <p>
        気に入ったお酒は、このサイトでレビューすることで、このサイトを見れば、
        自分が何のお酒を飲んで、どういう感想を持ったのかわかります！
      </p>
    </div>
</div>