/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 *= require custom
 
 */
 .bubble {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      animation: bubbleAnimation 4s ease-in-out infinite;
    }
    .main-image{
      width: 1100px; 
      height: 1100px; 
      background-image: image-url("top-image.png");
      background-size: 100% ; /* 横幅いっぱいに表示 */
      padding-top:20px;
    }

    /* 泡のアニメーション */
    @keyframes bubbleAnimation {
      0% {
        transform: translateY(0) scale(1);
        opacity: 1;
      }
      50% {
        transform: translateY(-100px) scale(0.8);
        opacity: 0.8;
      }
      100% {
        transform: translateY(-200px) scale(0.5);
        opacity: 0;
      }
    }