<h2>プロフィール編集</h2>
<%= form_with model: @user, url: public_users_update_path(@user), method: :patch do |f| %>
    <label for="inputName">ユーザー名</label>
    <%= f.text_field :user_name, autofocus: true, id:"inputName", placeholder:"ユーザーネーム"%>
    <label for="inputImage">プロフィール画像</label>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
    <%= f.submit "変更を保存" %>
<% end %>

 