<h2>ユーザー一覧</h2>
<% @users.each do |user| %>
<!--ゲストユーザーを一覧から除く-->
  <% next if user.email == "guest@example.com" %>
  <div class="user-card">
    <%= link_to user_path(user) do %>
      <%= image_tag user.get_profile_image(100, 100), class: "user-profile-image" %>
    <% end %>
    <p class="user-name">ユーザーネーム：<%= user.user_name %></p>
  </div>
<% end %>
<%= paginate @users %>

<style>
.user-card {
  text-align: center;
}

.user-profile-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}


</style>